.m-footer {
  background: #f8f8f8;
  padding: 40px 0;
  font-family: "Arial", sans-serif;
  color: #333;
  border-top: 1px solid #ddd;
}

.m-footer-top {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.m-footer-section {
  width: 250px;
  margin-bottom: 25px;
}

.m-footer-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #d63384; /* Meesho pink */
}

.m-footer-section h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #444;
}

.m-footer-section ul {
  list-style: none;
  padding: 0;
}

.m-footer-section ul li {
  margin-bottom: 8px;
}

.m-footer-section ul li a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.m-footer-section ul li a:hover {
  color: #d63384;  /* Meesho Hover Pink */
}

.m-footer-bottom {
  text-align: center;
  padding: 15px;
  margin-top: 25px;
  background: #ededed;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #ccc;
}
