.top-img {
  position: relative;
  width: 100%;
  margin-top: 20px; 
}

.top-img img {
  width: 100%;
  display: block;
}

.img-p-btn {
  position: absolute;
  top: 28%;
  left: 70%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.img-p-btn p {
  margin: 5px 0;
  font-size: 34px;
  font-weight: bold;
  font-family: sans-serif;
}

#shop-now-btn {
  margin-top: 10px;
  padding: 15px 16px;
  font-size: 18px;
  
  border: none;
  color:#570D48;
  cursor: pointer;
  border-radius: 4px;
}