@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}

.header-slist-slider{
  position: fixed; 
   top: 0;
  left: 0.1px;
  width: 100%;
  background: white; 
   z-index: 999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    padding: 10px 4px 5px 10px ;
    
}
#messho-logo-name{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Mier Demi';
    color: #570D48;

}
.search{
    position: relative;
    display: inline-block;
}
.search input{
    height: 15px;
    width: 450px;
    padding: 10px 10px 10px 35px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #8B8BA3;
    font-size: 16px;
}
.search .i{
    position: absolute;
    top: 50%;
    left: 10px;
    /* right: 20px; */
    transform: translateY(-50%);
    color: #888;
    
}

a{
    text-decoration: none;
    color:black ;
}

.icon-with-p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-with-p i{
    background-color: white;
    margin-right: 5px;
}

.Drop-dwon{
  display: none;
  position: absolute;
  z-index: 1;

}
.icon-with-p:hover.Drop-dwon{
  display: flex;
  flex-direction: column;
}
