.section-img {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
  padding: 60px;
}

.section-img::-webkit-scrollbar {
  display: none; 
}

.section-img img {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.section-img img:hover {
  transform: scale(1.05);
}
